# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
tests/__pycache__
*/__pycache__/
*.py[cod]
*$py.class
.coverage

# C extensions
*.so

# OSX Trash
*.DS_Store

# IDEA
.idea/

# pytest cache
.pytest_cache

.coverage

